
<section id="container" >
    <!--header start-->
    <header class="header grey-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>

      <div class="secondary-navbar">
        <ul>
          <li class="selected"><a href="unlokair.html">AIRCRAFTS</a></li>
          <li><a href="helicopter.html">HELICOPTER</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
      
    <!--sidebar start-->
    <aside>
      <div id="sidebar"  class="nav-collapse ">
        
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          
          <!--logo start-->
          <a href="index.html" class="logo">
            <%= image_tag "logo.png" %>
          </a>
          <!--logo end-->
          
          <li class="mt">
            <a href="profile.html">
              <%= image_tag "profilemenu.png", :class => 'img-circle', :style => "width: 32px" %>
              <h5>My Profile</h5>
            </a>
          </li>
          <li>
            <a href="index.html">
              <%= image_tag "icon1.png" %>
              <span>UnlokShop</span>
            </a>
          </li>

          <li class="sub-menu">
            <a class="active" href="unlokair.html">
              <%= image_tag "icon2.png" %>
              <span>UnlokAir</span>
            </a>
          </li>

          <li class="sub-menu">
            <a href="unlokfinance.html" >
              <%= image_tag "icon3.png" %>
              <span>Unlok Finance</span>
            </a>                     
          </li>
          
          <li class="sub-menu">
            <a href="contactus.html">
              <%= image_tag "icon4.png" %>
              <span>Contact us</span>
            </a>
                      
          </li>
          
          <li class="sub-menu">
            <a href="settings.html">
              <%= image_tag "icon5.png" %>
              <span>Settings</span>
            </a>
          </li>
                 
          <li class="sub-menu">
            <a href="logout.html">
              <%= image_tag "icon6.png" %>
              <span>Logout</span>
            </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <h3></h3>
            <div class="row mt">
              <div class="col-lg-12">
          <div class="col-lg-6">
            <div class="card">
              <a href="hawker.html">
                <%= image_tag "unlokair/hawker.jpg" %>
                <h6>Hawker 800xp</h6>
              </a>
            </div> 
          </div>
          <div class="col-lg-6">
            <div class="card">
              <a href="">
                <%= image_tag "unlokair/hawker.jpg" %>
                <h6>Hawker 800xp</h6>
              </a>
            </div> 
          </div>
              </div>
        
        <div class="col-lg-12">
          <div class="col-lg-6">
            <div class="card">
              <a href="">
                <%= image_tag "unlokair/hawker.jpg" %>
                <h6>Hawker 800xp</h6>
              </a>
            </div> 
          </div>
          <div class="col-lg-6">
            <div class="card">
              <a href="">
                <%= image_tag "unlokair/hawker.jpg" %>
                <h6>Hawker 800xp</h6>
              </a>
            </div> 
          </div>
              </div>
        
        <div class="col-lg-12">
          <div class="col-lg-6">
            <div class="card">
              <a href="">
                <%= image_tag "unlokair/hawker.jpg" %>
                <h6>Hawker 800xp</h6>
              </a>
            </div> 
          </div>
          <div class="col-lg-6">
            <div class="card">
              <a href="">
                <%= image_tag "unlokair/hawker.jpg" %>
                <h6>Hawker 800xp</h6>
              </a>
            </div> 
          </div>
        </div>
        
            </div>
      
      <a href="bookflight.html" class="md-button">     
      
    </section>